// Body
$body-bg: #f7f9fb;

// Navbar
$navbar-border-radius: 0;

// Fonts
$fa-font-path: '/fonts';

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav
$nav-pills-active-link-color: #55595c; // $gray;
$nav-pills-active-link-bg: #fff;
$nav-pills-border-radius: 0;
